.main-container{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    color: white;
    
}
.website-name{
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.main-logo-img{
    
    }
    
.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: white;
}
.menu{
    text-decoration: none;
    color: white;
    font-weight: 1000;
    font-size: 16px;
}
